<template
	data-type="WorkItem"
	data-props="roleName,startDate,endDate,worksFor">
	<details>
		<summary>
			<span class="work-item item">
				<span class="work-roleName property-roleName">
					{{ roleName }}
				</span>
				<span class="property-dateRange">
					<time
						:datetime="startDate"
						class="work-startDate property-startDate"><!--
						-->{{ startDate }}<!--
					--></time>
					<time
						:datetime="endDate || new Date().getFullYear()"
						class="work-endDate property-endDate"><!--
						-->{{ endDate || 'Present' }}<!--
					--></time>
				</span>
				<template
					v-for="employer in [ worksFor ]"
					:key="employer.name">
					<a
						v-if="employer.sameAs"
						:href="employer.sameAs"
						class="work-employer-name property-organization-name"><!--
						-->{{ employer.name }}<!--
					--></a>
					<span
						v-else
						class="work-employer-name property-organization-name"><!--
						-->{{ employer.name }}<!--
					--></span>
					<template v-if="employer.address">
						<span
							class="work-employer-location property-organization-location"
							v-for="address in [ employer.address ]"><!--
							-->{{ address.addressLocality }}, {{ address.addressRegion }}<!--
						--></span>
					</template>
				</template>
			</span>
		</summary>
		<p>
			Wow!
		</p>
	</details>
</template>
