<template
	data-name="type-person"
	data-props="
	  name,
	  image,
	  jobTitle,
	  sameAs,
	  description,
	  worksFor,
	  knowsAbout,
	  alumniOf
   ">
	<div role="presentation">
		<section-header
		  v-bind="{
		    name,
    	    image,
    	    jobTitle,
    	    sameAs,
    	    description
    	 }">
		 </section-header>
		 <section-work-experience
		   v-bind="{
		     worksFor
		   }">
		 </section-work-experience>
		 <section-skills
		   v-bind="{
		     knowsAbout
		   }">
		 </section-skills>
		 <section-past-projects
		   v-bind="{
		     worksFor
		   }">
		 </section-past-projects>
		<section-education
		  v-bind="{
		    alumniOf
		  }">
		 </section-education>
	</div>
</template>
