<template
  data-name="type-skill-item"
  data-props="
    name,
    alternateName,
    description
  ">
  <details>
    <summary>
      <span  class="skill-item item">
        <span class="skill-name property-name">
          {{ name }}
        </span>
        <span
          v-if="alternateName"
          class="skill-alternate-name property-alternate-name">
          {{ alternateName }}
        </span>
      </span>
    </summary>
    <div class="skill-description property-description">
      <p v-for="p in description">
        {{ p }}
      </p>
    </div>
	</details>
</template>