<template
	data-name="type-work-item"
	data-props="
	  roleName,
	  startDate,
	  endDate,
	  worksFor,
	  description,
	  open
	">
	<details :open="open">
		<summary>
			<span class="work-item item">
				<template
					v-for="employer in [ worksFor ]"
					:key="employer.name">
					<span class="work-employer-name property-name"><!--
			  	     -->{{ employer.name }}<!--
					--></span>
					<template v-if="employer.address">
						<span
							class="work-employer-location property-organization-location"
							v-for="address in [ employer.address ]"><!--
							-->{{ address.addressLocality }}, {{ address.addressRegion }}<!--
						--></span>
					</template>
				</template>
				<span class="work-roleName property-roleName">
					{{ roleName }}
				</span>
				<span class="property-dateRange">
					<time
						:datetime="startDate"
						class="work-startDate property-startDate"><!--
						-->{{ startDate }}<!--
					--></time>
					<time
						:datetime="endDate || new Date().getFullYear()"
						class="work-endDate property-endDate"><!--
						-->{{ endDate || 'Present' }}<!--
					--></time>
				</span>
			</span>
		</summary>
		<div class="work-description property-description" v-if="description">
    		<p v-for="p in description">
    			{{ p }}
    		</p>
    	</div>
	</details>
</template>
