@layer reset, default, overrides;

@layer reset {
  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }

  @page {
    size: letter portrait;
    margin: 0.5in;
  }

  :root {
    font-size: 20px;
    font: -apple-system-body;
    font-family: system-ui, sans-serif;
    line-height: 1.5;

    color-scheme: light;
    --swatch-text: CanvasText;
    --swatch-background: #f0f1f5;
    --swatch-gray: #636363;
    --swatch-interactive: LinkText;
    --swatch-interactive-completed: VisitedText;
    --swatch-focused: Highlight;
    --swatch-button-text: CanvasText;
    --swatch-page: #202024;
    --swatch-button-face: #e0e0e3;
    --gap: 1.5rlh;
    --min-touch-dimension: 48px;

    @media print {
      font-size: 14px;
      color-scheme: light;
      --swatch-page: Canvas;
      --swatch-background: Canvas;
    }

    @media screen and (prefers-color-scheme: dark) {
      color-scheme: dark;
      --swatch-page: #001117;
      /* Text contrast: 17:1 */
      /* Link contrast: 8:1 */
      /* Gray contrast: 8:1 */
      --swatch-background: #001e27;
      /* Text contrast: 14:1 */
      /* Link contrast: 6:1 */
      /* Gray contrast: 7:1 */
      --swatch-button-face: #003c55;
      --swatch-gray: #aebbc1;
      --swatch-interactive: #78ddff;
      --swatch-focused: CanvasText;
      --swatch-interactive-completed: #dfc0f3;
    }

    @media print, screen and (forced-colors: active) {
      --swatch-page: Canvas;
      --swatch-gray: CanvasText;
      --swatch-background: transparent;
      --swatch-button-face: transparent;
    }
  }

  :focus {
    outline: 0;
  }

  :focus-visible {
    outline: 4px solid var(--swatch-focused);
    outline-offset: 4px;
  }

  img {
    max-width: 100%;
  }

  p {
    margin: 0;
  }

  a {
    color: LinkText;
    color: var(--swatch-interactive);
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: var(--min-touch-dimension);
    min-width: var(--min-touch-dimension);
    margin-top: calc((1em - var(--min-touch-dimension)) / 2);
    margin-bottom: calc((1em - var(--min-touch-dimension)) / 2);
    margin-top: calc((1lh - var(--min-touch-dimension)) / 2);
    margin-bottom: calc((1lh - var(--min-touch-dimension)) / 2);

    &:hover {
      text-decoration: none;
    }
  }

  h1,
  h2 {
    font-weight: 400;
    line-height: inherit;
    margin: 0;
  }

  h2 {
    line-height: 1;
    letter-spacing: -0.025rem;
    font-size: 1.5rem;
    border-bottom: 0.1rem solid;
    page-break-after: avoid;
    padding-bottom: 0.5rem;

    @media print, screen and (forced-colors: active) {
      font-weight: bold;
      border-bottom: 0;
      padding-bottom: 0;
    }
  }

  h3 {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    gap: 0.5rlh;
    margin: 0;
    page-break-after: avoid;
    hyphens: none;
    word-wrap: initial;
    overflow-wrap: initial;

    @media print {
      page-break-after: avoid;
      color: var(--swatch-gray);
    }
  }

  hr {
    margin: 2rem 0;
    border: 0;
    border-top: 0.1rem solid currentColor;
  }
}

@layer default {
  body {
    background: var(--swatch-page);
    color: var(--swatch-text);
    line-height: 1rlh;
    margin: 0;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    overflow-wrap: anywhere;
  }

  main {
    display: grid;
    gap: var(--gap);
  }

  section {
    display: grid;
    gap: 0.5rlh;

    & > :is(ul, ol) {
      margin: 0;
      padding: 0;
      list-style: none;
      display: grid;
      gap: 1rlh;
    }
  }

  ol :not(ol, ul) ul {
    list-style: disc;
    padding: 0;
    margin: 0;
    display: grid;

    & > li {
      font-size: 0.875em;
      display: grid;
      grid-template-columns: auto minmax(0px, 1fr);
      column-gap: 0.5rlh;

      & > li-marker:before {
        content: "•";
      }
    }
  }

  figure img {
    border-radius: 0.5rem;
    overflow: hidden;

    @media print {
      max-height: 3.75in;
    }
  }

  figcaption {
    font-size: 0.875rem;
  }

  nav {
    :is(&, & .nav__region) {
      display: flex;
      flex-wrap: wrap;
      gap: 1rlh;
      justify-content: space-between;
      font-size: 0.95rem;

      @media screen and (max-width: 320px) {
        font-size: 0.875rem;
        gap: 0.5rlh;
      }
    }
  }

  @media print {
    nav {
      display: none;
    }
  }

  header {
    display: grid;
    gap: var(--gap);

    @media print, screen and (forced-colors: active) {
      border-bottom: 0.5rem double currentColor;
      padding-bottom: var(--gap);
    }
  }

  h1 {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    row-gap: 0.25rlh;
    column-gap: 1rlh;
    width: 100%;
    letter-spacing: -0.05em;
    hyphens: none;
    word-wrap: initial;
    overflow-wrap: initial;

    @media print {
      text-align: right;
    }

    & .h1__name {
      font-size: 2.6rem;
      font-weight: 700;
      line-height: 1;

      @media screen and (max-width: 320px) {
        font-size: 1.5rem;
      }

      @media print {
        font-size: 1.6rem;
      }
    }

    & .h1__title {
      letter-spacing: 2px;
      text-transform: uppercase;
      line-height: 1;
      font-size: 1.5rem;

      @media screen and (max-width: 320px) {
        font-size: 1rem;
      }

      @media print {
        letter-spacing: 0;
        font-size: 1.4rem;
        text-transform: none;
      }
    }
  }

  .container {
    background: Canvas;
    background: var(--swatch-background);
    width: 100%;
    display: grid;
    gap: var(--gap);
    justify-self: center;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.125);
    grid-template-columns: 100%;
    max-width: min(calc(100% - 4rlh), 880px);
    margin: 0 auto;
    padding: 1rlh;

    @media print, screen and (forced-colors: active) {
      box-shadow: none;
    }

    @media screen and (max-width: 767px) {
      -webkit-hyphens: auto;
      hyphens: auto;
      max-width: 100%;
      background: none;
    }

    @media screen and (min-width: 768px) {
      border-radius: 1rlh;
      margin: 3rlh auto var(--gap);
      border: 2px solid var(--swatch-button-face);
      padding: var(--gap);
    }

    @media screen and (min-width: 1400px) {
      padding: 2rlh;
    }

    @media print,
      screen and (forced-colors: active),
      screen and (prefers-contrast: more) {
      margin-top: 0;
    }
  }

  .card {
    page-break-inside: avoid;
    margin: 0;
    border-radius: 1rlh;
    padding: 1rlh;
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
    background-color: var(--swatch-button-face);
    display: grid;
    gap: 1em;
    border: 2px solid var(--swatch-page);

    @media screen and (max-width: 320px) {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      background: none;
      border-radius: 0;
      box-shadow: none;
      border-bottom: 0.1rem solid var(--swatch-text);
    }

    @media print, screen and (forced-colors: active) {
      padding: 1rlh 0 2rlh;
      border-radius: 0;
      box-shadow: none;
      border: 0;
      border-bottom: 0.1rem solid var(--swatch-text);
    }

    & p {
      font-size: 0.875em;
    }

    & .card__header {
      display: flex;
      column-gap: 1rlh;
      flex-wrap: wrap;

      @media screen and (max-width: 767px) {
        flex-direction: column;
      }
    }

    & .card__heading {
      flex: 1 1 auto;
    }

    & .card__detail {
      margin: 0;
      font-size: 0.875em;
    }
  }

  .dates {
    padding: 0;
    margin: 0;
    font-size: 0.75em;
    padding-top: calc((32 / 15) * 2 * 1px);
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    flex: 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;

    @media (max-width: 767px) {
      justify-content: start;
    }

    & time {
      flex: 0 0 auto;
    }

    & .dates__through[hidden] {
      display: inline;
      white-space: pre;
    }
  }
}

@layer overrides {
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    margin: -1px;
    border: 0;
    padding: 0;
    user-select: none;
  }
}
