@font-face {
  font-family: "Hanken Grotesk";
  src: url("hanken.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("hanken--bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("hanken--light.ttf");
  font-weight: 200;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  font-family: "Hanken Grotesk", system-ui, sans-serif;
  font-size: calc((20 / 16) * 100%);
  line-height: calc(1 + (1 / 3));
  color-scheme: light;
  display: grid;
  -webkit-font-smoothing: subpixel-antialiased;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  --swatch--text: initial;
  --gap: calc(1.25rem * 1.5);
  --min-touch-dimension: 48px;
  --swatch--primary--1000: #000;
  --swatch--primary--900: #04001f;
  --swatch--primary--800: #170053;
  --swatch--primary--700: #2b1474;
  --swatch--primary--600: #423494;
  --swatch--primary--500: #5c52b4;
  --swatch--primary--400: #7770d5;
  --swatch--primary--300: #948ff7;
  --swatch--primary--200: #b3b0ff;
  --swatch--primary--100: #d6d7ff;
  --swatch--primary--0: #fcfdff;

  @supports (color: oklch(0 1 1)) {
    --swatch--primary--1000: oklch(1.8148% 0.01111 280.28);
    --swatch--primary--900: oklch(11.65% 0.07174 279.39);
    --swatch--primary--800: oklch(21.577% 0.1314 281.19);
    --swatch--primary--700: oklch(30.1% 0.15 284);
    --swatch--primary--600: oklch(40.05% 0.15 284);
    --swatch--primary--500: oklch(50% 0.15 284);
    --swatch--primary--400: oklch(59.95% 0.15 284);
    --swatch--primary--300: oklch(69.9% 0.15 284);
    --swatch--primary--200: oklch(79.204% 0.11956 284.71);
    --swatch--primary--100: oklch(89.283% 0.05938 284.2);
    --swatch--primary--0: oklch(99.32% 0.0035 273.27);
  }

  --swatch--text-on--primary--1000: #fff;
  --swatch--text-on--primary--900: #fff;
  --swatch--text-on--primary--800: #fff;
  --swatch--text-on--primary--700: #fff;
  --swatch--text-on--primary--600: #fff;
  --swatch--text-on--primary--500: #fff;
  --swatch--text-on--primary--400: #000;
  --swatch--text-on--primary--300: #000;
  --swatch--text-on--primary--200: #000;
  --swatch--text-on--primary--100: #000;
  --swatch--text-on--primary--0: #000;

  @media screen {
    color-scheme: dark;
    --swatch--page: var(--swatch--primary--900);
    --swatch--button-face: var(--swatch--primary--800);
    --swatch--interactive: var(--swatch--primary--200);
    --swatch--focused: var(--swatch--primary--200);
    --swatch--text: var(--swatch--primary--0);
  }

  @media print {
    font-size: 14pt;
    color-scheme: light;
    --swatch--page: white;
    --swatch--button-face: white;
    --swatch--text: black;
    --swatch--interactive: LinkText;
    --swatch--button-text: black;
  }

  @media screen and (forced-colors: active) {
    color-scheme: light;
    --swatch--page: Canvas;
    --swatch--button-face: Canvas;
    --swatch--text: CanvasText;
    --swatch--interactive: LinkText;
    --swatch--button-text: CanvasText;
  }
}

:focus {
  outline: 0;
}

:focus-visible {
  outline: 4px solid var(--swatch--focused);
  outline-offset: 4px;
}

@page {
  size: letter portrait;
  margin: calc((2 / 3) * 1in);
}

::selection {
  background-color: var(--swatch--primary--300);
  color: var(--swatch--text-on--primary--300);
}

body {
  background-color: var(--swatch--page);
  color: var(--swatch--text);
  margin: 0;
  overscroll-behavior: none;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

a {
  &:any-link {
    color: LinkText;
    color: var(--swatch--interactive);
    font-size: 0.825rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 0;
    margin: 0;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    transition: text-decoration-color 0.25s ease-in-out;

    &:hover {
      text-decoration-color: var(--swatch--page);
    }
  }

  &:not([id]) {
    min-height: var(--min-touch-dimension);
    min-width: var(--min-touch-dimension);
    margin-top: calc((1em - var(--min-touch-dimension)) / 2);
    margin-bottom: calc((1em - var(--min-touch-dimension)) / 2);
    margin-top: calc((1lh - var(--min-touch-dimension)) / 2);
    margin-bottom: calc((1lh - var(--min-touch-dimension)) / 2);
  }
}

@media print {
  [hidden][data-print-only] {
    display: grid;
    grid-row: 1 / 2;
  }
}

h1 {
  font-weight: normal;
  line-height: normal;
  margin: 0;

  @media print {
    padding-top: 0.5rem;
  }
}

h2 {
  @media screen {
    position: absolute;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    margin: -1px;
    border: 0;
    padding: 0;
    user-select: none;
  }

  @media print {
    padding: 0;
    margin: 1rem 0 0;
    text-decoration: underline;
  }
}

h3 {
  font-size: 1.333rem;
  line-height: normal;
  font-weight: bold;
  display: flex;
  gap: 0.75rem;
  margin: 0;
  hyphens: none;
  word-wrap: initial;
  overflow-wrap: initial;

  @media print {
    color: #7d7d7d;
    font-size: 1.1rem;
  }
}

hr {
  margin: 2rem 0;
  border: 0;
  border-top: 0.1rem solid currentColor;
}

main {
  display: grid;
  gap: var(--gap);
}

section {
  display: grid;
  gap: 0.75rem;

  & > unordered-list,
  & > [role="list"] {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 1.5rem;

    @media print {
      gap: 0.5rem;
    }
  }
}

figure img {
  border-radius: 0.5rem;
  overflow: hidden;

  @media print {
    max-height: 3.75in;
  }
}

figcaption {
  font-size: 0.875rem;
}

nav {
  &,
  & .nav__region {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 0.75rem;
    font-size: 0.95rem;
    justify-content: space-between;

    @media screen and (max-width: 799px) {
      font-size: 0.875rem;
      gap: 0.75rem;
      justify-content: space-around;
    }

    @media print {
      display: none;
    }
  }

  & .nav__region {
    @media screen and (max-width: 799px) {
      display: contents;
    }
  }
}

header {
  display: grid;
  gap: calc(var(--gap) / 2);
  margin: var(--gap) 0;

  @media screen and (max-width: 799px) {
    text-align: center;
  }

  @media print {
    text-align: left;
    margin: 0;

    & p {
      display: none;
    }
  }
}

h1 {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  width: 100%;
  hyphens: none;
  word-wrap: initial;
  overflow-wrap: initial;

  @media screen and (min-width: 800px) {
    place-self: center;
    text-wrap: balance;
    text-align: center;
  }

  & .h1__name {
    font-size: 3rem;
    line-height: calc(1.75rem * 1.5);
    letter-spacing: -0.025em;
    font-weight: 600;

    @media screen and (min-width: 800px) {
      font-size: 3.25rem;
    }

    @media screen and (max-width: 319px) {
      font-size: 2rem;
      line-height: calc(2rem * 1.125);
    }

    @media print {
      font-size: 2.5rem;
      line-height: 2.25rem;
    }
  }

  & .h1__title {
    font-variant: small-caps;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.05em;
    font-weight: normal;
    line-height: 1;

    @media print {
      letter-spacing: 0;
      font-size: 1.667rem;
    }

    & span {
      vertical-align: text-bottom;

      @media screen and (min-width: 320px) {
        white-space: nowrap;
      }
    }

    & .h1__separator {
      vertical-align: middle;
      display: inline-flex;

      &:before {
        content: "•";
      }
    }
  }

  & ~ p {
    line-height: calc(1rem * 1.4);
    font-weight: 200;

    strong {
      font-weight: 600;
    }

    @media screen and (max-width: 799px) {
      text-wrap: balance;
      padding: 0 0.75rem;
    }

    @media screen and (min-width: 800px) {
      place-self: center;
      text-wrap: balance;
      text-align: center;
      max-width: 50ch;
    }
  }
}

.container {
  @media screen {
    width: 100%;
    display: grid;
    gap: var(--gap);
    justify-self: center;
    grid-template-columns: 100%;
    max-width: min(calc(100% - 6rem), 800px);
    margin: 0 auto;
    color: var(--swatch--text);
    --container-padding: var(--gap);
    padding: max(var(--container-padding), env(safe-area-inset-top, 0px))
      max(var(--container-padding), env(safe-area-inset-right, 0px))
      max(var(--container-padding), env(safe-area-inset-bottom, 0px))
      max(var(--container-padding), env(safe-area-inset-left, 0px));
  }

  @media screen and (max-width: 319px) {
    gap: calc(var(--gap) / 2);
  }

  @media screen and (max-width: 799px) {
    -webkit-hyphens: auto;
    hyphens: auto;
    max-width: 100%;
    background: none;
  }

  @media screen and (min-width: 800px) {
    --container-padding: calc(2 * var(--gap));
  }

  @media print, screen and (forced-colors: active) {
    margin-top: 0;
  }

  @media print {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
}

card-item {
  & .dates {
    padding: 0;
    margin: 0;
    flex: 0 0 auto;
    display: inline-flex;
    width: max-content;
    height: 100%;

    @media screen {
      color: var(--swatch--primary--0);
      background-color: var(--swatch--primary--700);
      padding: 0.125rem 0.5rem;
      border-radius: 0.5rem;
      font-weight: bold;
      margin-left: -0.5rem;
    }

    & .dates__date__month {
      font-size: 0.8rem;
    }

    & .dates__date__year {
      font-variant-numeric: proportional-nums;
      font-size: 0.8rem;
    }

    & .dates__through {
      padding: 0 0.5ch;
      display: inline-flex;
    }
  }

  & .card__header {
    column-gap: 1.5rem;
    row-gap: 0.125rem;
    display: grid;

    & > .card__heading {
      display: grid;
      row-gap: 0.125rem;
      grid-row: 2 / 3;

      @media screen {
        margin-top: 0.5rem;
      }
    }

    @media (min-width: 800px) {
      grid-template-columns: 1fr auto;
    }
  }

  & .card__detail {
    margin: 0;

    @media screen {
      letter-spacing: 0.025em;
    }

    &:before,
    &:after {
      position: absolute;
      width: 1px;
      height: 1px;
      white-space: nowrap;
      clip: rect(0 0 0 0);
      margin: -1px;
      border: 0;
      padding: 0;
      user-select: none;
    }

    &:before {
      content: "(";
    }

    &:after {
      content: ")";
    }
  }
}

nav {
  @media print {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  margin: -1px;
  border: 0;
  padding: 0;
  user-select: none;
}

card-item {
  display: grid;
  font-size: 0.875rem;
  line-height: calc(0.875rem * 1.5);
  margin: 0;
  gap: calc(0.5rem * 1.5);
  list-style: none;

  @media screen {
    padding: var(--gap);
    background: var(--swatch--button-face);
    border-radius: 1.5rem;
  }

  @media screen and (max-width: 319px) {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    background: none;
    box-shadow: none;
    border-bottom: 0.1rem solid var(--swatch--text);
    border-radius: 0;
  }

  @media print, screen and (forced-colors: active) {
    padding: 0.5rem 0 1rem;
    border-bottom: 0.1rem solid var(--swatch--text);
    border-radius: 0;
    box-shadow: none;

    &:last-of-type {
      border-bottom: 0;
    }
  }

  & ul:first-of-type {
    list-style: disc;
    padding: 0;
    margin: 0;
    display: grid;
    row-gap: calc(0.5rem * 1.5);

    & li {
      font-size: 0.875rem;
      line-height: calc(0.875rem * 1.5);
      display: grid;
      grid-template-columns: auto minmax(0px, 1fr);
      column-gap: calc(0.5rem * 1.5);
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 0.5rem;
  margin: 0.5rem 0px 0px;
  padding: 0px;

  @media print {
    display: none;
  }
}

.tag {
  display: flex;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.4;
  border-radius: 4px;
  padding: 4px 10px;
  white-space: nowrap;
  background-color: var(--swatch--primary--700);
  color: var(--swatch--primary--0);

  @media (forced-colors: active) {
    background-color: Canvas;
    color: CanvasText;
    border: 1px solid CanvasText;
  }
}

nav .nav__region a {
  position: relative;
  overflow: hidden;
  transform-origin: center;
}

@media screen and (prefers-reduced-motion: no-preference) {
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  nav .nav__region a {
    animation: fadeInUp 0.6s ease-out backwards;
  }

  nav .nav__region:nth-child(1) a:nth-child(1) {
    animation-delay: 0.1s;
  }

  nav .nav__region:nth-child(1) a:nth-child(2) {
    animation-delay: 0.2s;
  }

  nav .nav__region:nth-child(1) a:nth-child(3) {
    animation-delay: 0.3s;
  }

  nav .nav__region:nth-child(2) a:nth-child(1) {
    animation-delay: 0.4s;
  }
}

.timeline {
  display: flex;
}

.timeline-line {
  width: 1px;
  background-color: var(--swatch--primary--200);
  margin-right: 2rem;
  border-radius: 2px;

  @media print {
    display: none;
  }
}

card-item {
  position: relative;
}

card-item:before {
  content: "";
  position: absolute;
  left: -2.525rem;
  top: 2rem;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--swatch--primary--200);
  border-radius: 50%;
  border: 6px solid var(--swatch--page);
}

section:not(:first-of-type) {
  margin-top: 1.5rem;
}
