* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

:root {
	font-family: sans-serif;
	line-height: 1.333;
	--swatch-text-color: white;
	--swatch-background-color: black;
	--swatch-alt-background-color: rgb(246, 191, 254, .5);
	--swatch-light-gray: deeppink;
	--swatch-dark-gray: #797979;
	--swatch-interactive: white;
	--swatch-interactive-completed: blue;
}

html,
body {
	overscroll-behavior: none;
}

body {
	background: var(--swatch-background-color);
	background-attachment: fixed;
	color: var(--swatch-text-color);
	font-size: large;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	line-height: inherit;
}

h2 {
	font-size: x-large;
	margin-bottom: .75em;
	padding-bottom: .25em;
	border-bottom: 1px solid var(--swatch-light-gray);
}

main {
	width: 100%;
	margin: 0 auto;
}

header, section {
		padding: 20px;
}
@media (min-width: 480px) {
		header {
				text-align: center;
		}
}
.itemList-name {
		font-size: 36px;
		font-weight: bold;
		display: block;
}
.itemList-description {
		display: block;
		font-size: x-large;
		color: var(--swatch-dark-gray);
		margin: 5px 0;
		letter-spacing: 2px;
		text-transform: uppercase;
}

.property-endDate:before {
		content: ' - ';
}
a:not(:visited) {
	color: var(--swatch-interactive);
}
a:visited {
	color: var(--swatch-interactive-completed);
}
.item {
		color: var(--swatch-dark-gray);
		list-style: none;
}
summary {
	cursor: pointer;
	 padding: 1rem;
    border-top: 4px solid var(--swatch-light-gray);
		background-color: #432a82;
}
summary::marker,
summary::-webkit-details-marker {
		color: var(--swatch-interactive);
}
details[open] summary::marker,
details[open] summary::-webkit-details-marker {
		color: var(--swatch-interactive);
}
summary .property-name {
		font-size: 21px;
		font-weight: bold;
}
.property-name {
		font-weight: bold;
		color: var(--swatch-text-color);
}
.property-description {
	padding-left: 20px;
}
:focus,
summary:focus>span {
		outline: 0;
		box-shadow: 0 0 0 6px 2px var(--swatch-interactive);
}
summary:focus {
		box-shadow: none;
}
summary>span {
		display: grid;
		width: calc(100% - 20px);
		float: right;
}

summary:after {
		content: '';
		clear: both;
		display: grid;
}
details p {
		margin: 0 20px 20px 0;
}
.links-list {
		margin: 0;
		padding: 0;
		list-style: none;
}
.link-item {
		list-style: none;
}
@media (min-width: 480px) {
		.link-item {
				line-height: 1;
				display: inline-grid;
		}
		.link-item:not(:last-of-type) {
				padding-right: 10px;
				border-right: 1px solid var(--swatch-dark-gray);
				margin-right: 10px;
		}
}
.unstyled-list {
		list-style: none;
		margin: 0;
		padding: 0;
}